<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\24730\AppData\Local\Temp\libhello.dll3389466023082171263" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>